.vs

Cycle.Core/bin
Cycle.Core/obj

Cycle/Cycle/bin
Cycle/Cycle/obj

Cycle/Cycle.Android/bin
Cycle/Cycle.Android/obj

Droid
iOS

Cycle/Cycle.iOS/bin
Cycle/Cycle.iOS/obj

Cycle/Cycle.UWP/bin
Cycle/Cycle.UWP/obj

packages